<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for @flat do |f| %>
        <%= f.input :name %>
        <%= f.input :picture_url %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :number_of_guests %>
        <%= f.input :price_per_night %>
        <div class="buttons d-flex justify-content-between">
          <%= f.button :submit, class: 'btn btn-primary' %>
          <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
          <%= link_to 'Cancel', flats_path, class: 'btn btn-danger'  %>
        </div>
      <% end %>
    </div>
  </div>

</div>
